body{
    
    background-image: url(../images/old_map.jpg);
    background-size: 100%;
    font-family: $head-font;
    
    
}

.frontpage{
    text-align: center;
    margin-top: 100px;
    &--header{
        font-family: $head-font;
        font-size: 50px;
        padding-bottom: 50px;
    }
    &--text{
        font-family: $text-font;
        font-size: 30px;
        padding: 10px;
        padding-bottom: 30px;
    }
    &--link{
        
        font-family: $head-font;
        font-size: 30px;
        text-decoration: none;
        color: $red;
        
        
    }
    &--link:hover{
        color: $green;
        opacity: .7;
        }
}